body {
    Color: black;
    background: rgb(55, 151, 151);
    margin: 0;
    font-family: "DM Serif Display", serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px black;

    padding: 20px;
    font-size: 32px;

}

.introducao {
    background: rgb(116, 197, 204); 
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.texto {
    margin-right: 5%;

} 

h1 {
    font-size: 40px;
}

p{
    font-size: 28px;
}


.videos{
display: flex;
overflow-x: auto;
gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos img{
opacity:0.5;
height: 250px;

}

.videos img:hover{
 opacity: 1;
border: 2px solid rgb(226, 226, 234);
}